PORT=3000
UPLOAD_DIR=./uploads
MONGO_URI=mongodb+srv://<usuario>:<pass>@cluster0.mongodb.net/aula?retryWrites=true&w=majority
JWT_SECRET=CAMBIAR_POR_UNA_SECRETA_LARGA
TEACHER_EMAIL=docente@aula-sandra-edwin.com

# SMTP para pruebas: Mailtrap (regístrate y usa tus credenciales)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=<MAILTRAP_USER>
SMTP_PASS=<MAILTRAP_PASS>